# This list auto requests reviews from the specified org members

# when a PR that modifies the file in question is opened

# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY

# In the event that people are to be informed of changes

# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Gandalf2k15

/.github/workflows/ @Gandalf2k15
/SQL/ @Gandalf2k15
/tools/ @Gandalf2k15
/code/modules/tgui/ @Gandalf2k15

# Gandalf2k15

/modular_nova/modules/borgs @Gandalf2k15
/modular_nova/modules/borg_buffs @Gandalf2k15
/modular_nova/modules/ghostcafe @Gandalf2k15
/modular_nova/modules/hotel_rooms @Gandalf2k15
/modular_nova/master_files/code/modules/mapfluff @Gandalf2k15
/modular_nova/modules/ashwalkers @Gandalf2k15
/modular_nova/modules/aesthetics/keyed_doors @Gandalf2k15

# CONTRIBUTORS

# MULTIPLE OWNERS

# Maptainers

/tools/maplint/lints @Gandalf2k15
/tools/UpdatePaths @Gandalf2k15
/\_maps/ @Gandalf2k15
/modular_nova/modules/mapping @Gandalf2k15

# Expensive files that touching basically always cause performance problems

## Init times

\*_/_\_EXPENSIVE.dm @Gandalf2k15
